html,
body {
  height: 100%;
}

.body-container {
  height: 100vh;
  overflow: hidden;
}

.navbar-brand {
  font-family: "Dancing Script", sans-serif;
}

.mid-container {
  text-align: center;
}

.strategy-component {
  padding: 0.2rem;
}

.small-font {
  font-size: 0.7em;
}

.logs-container {
  text-align: justify;
  font-size: 0.7rem;
}

.logs-list {
  height: 13rem;
  overflow-y: scroll;
}

#watchlist-select {
  flex: 1;
}

.kaggle {
  background-color: #20beff;
}

.kaggle:hover {
  background-color: #000;
}

.twitter {
  background-color: #55acee;
}

.twitter:hover {
  background-color: #000;
}

.instagram {
  background-color: #ac2bac;
}

.instagram:hover {
  background-color: #000;
}

.linkedin {
  background-color: #0082ca;
}

.linkedin:hover {
  background-color: #000;
}

.github {
  background-color: #333333;
}

.github:hover {
  background-color: #fff;
}
